#!/usr/bin/env python3
toc_item_org_mode_format = """% if bib_key:
${' ' * (level-1) * 2}- [ ] ${content} [[cite:${bib_key}][${page}]]\\
% else:
${' ' * (level-1) * 2}- [ ] ${content} [[pdf:${pdf_path}::${page}][${page}]]\\
% endif"""
annot_item_org_mode_format = """${' ' * (level) * 2}- [ ] ${color} \\
<%
    import os.path
    relative_pic_path = os.path.relpath(pic_path, start="/Users/yuchen/Notes/") if pic_path else ""
%>\\
% if bib_key:
[[cite:${bib_key}][${page}++${height}]] \\
% else:
[[pdf:${pdf_path}::${page}++${height}][${annot_number}]] \\
% endif
% if comment and pic_path:
${comment}
${' ' * (level+1) * 2}[[file:${relative_pic_path}]]\\
% elif comment:
${comment}\\
% elif pic_path:
[[file:${relative_pic_path}]]\\
% endif
% if text:

${' ' * (level+1) * 2}#+begin_quote
${text}
${' ' * (level+1) * 2}#+end_quote\\
% endif"""

toc_item_default_format = toc_item_org_mode_format
annot_item_default_format = annot_item_org_mode_format
